{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Portfolio - Saad</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Bodo - Simple One Page Personal" name="description">
    <meta content="BdgPixel" name="author">
    <!--Fav-->
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon">
    
    <!--styles-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    
    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
    
    <!--[if lt IE 9]>
       <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--PRELOADER-->
{#    <div id="preloader">#}
{#      <div id="status">#}
{#        <img alt="logo" src="{% static 'images/logo-big.png' %}">#}
{#      </div>#}
{#    </div>#}
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
{#          <a href="index.html"><img alt="logo" class="logo-nav" src="{% static 'images/logo.png' %}"></a>#}
          <a href="{% url 'index' %}"><h1 style="margin-top: 5px; font-family: 'Source Code Pro', monospace;"><strong>Saad K.</strong></h1></a>
        </div>
        <!--/.LOGO END-->
      </div>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="menu-list">
            <a data-scroll="" href="#home" class="active">
              <span>Home</span>
            </a>
            <a data-scroll="" href="#about">
              <span>About</span>
            </a>
            <a data-scroll="" href="#work">
              <span>skills</span>
            </a>
             <a data-scroll="" href="#services">
              <span>Services</span>
            </a>
            <a data-scroll="" href="#employement">
              <span>Employement</span>
            </a>
            <a data-scroll="" href="#skill">
              <span>Skills</span>
            </a>
            <a data-scroll="" href="#education">
              <span>Education</span>
            </a>
            <a data-scroll="" href="#testimonial">
              <span>Testimonial</span>
            </a>
            <a data-scroll="" href="#blog">
              <span>Blog</span>
            </a>
            <a data-scroll="" href="#contact">
              <span>Contact</span>
            </a>
          </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
      </div>
      <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button><!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->
    
    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="wrap-hero-content">
                  <div class="hero-content">
                    <h1>Hello</h1>
                    <br>
                    <span class="typed"></span>
                  </div>
              </div>
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->

        <!--ABOUT-->
        <section id="about">
          <div class="col-md-6 col-xs-12 no-pad">
            <div class="bg-about"></div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 white-col">
            <div class="row">
              <!--OWL CAROUSEL2-->
              <div class="owl-carousel2">
                <div class="col-md-12">
                  <div class="wrap-about">
                    <div class="w-content">
                      <p class="head-about">
                        <div>
                            <p>Building applications that make the work and life easier</p>
                            <p>working with the team or company that makes me stronger</p>
                            <p>Troubleshooting the problems that makes me happier</p>
                        </div>
                      </p>
                      
                      <h5 class="name">
                        Saad Khan
                      </h5>
                      <img alt="signature" src="{% static 'images/signature_saad.jpg' %}">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-12 col-sm-12 col-xs-12 white-col">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                      <div class="wrap-about">
                        <table class="w-content">
                          <tr>
                            <td class="title">Name </td>
                            <td class="break">:</td>
                            <td> Saad Khan</td>
                          </tr>
                          <tr>
                            <td class="title">Phone </td>
                            <td class="break">:</td>
                            <td> +880 1686 969670</td>
                          </tr>
                          <tr>
                            <td class="title">Email </td>
                            <td class="break">:</td>
                            <td> sa4dkhan@gmail.com</td>
                          </tr>
                          <tr>
                            <td class="title">Address </td>
                            <td class="break">:</td>
                            <td> Mirpur, Dhaka</td>
                          </tr>
                          <tr>
                            <td class="title">Skype </td>
                            <td class="break">:</td>
                            <td> sa4dkhan</td>
                          </tr>
                          <tr>
                            <td class="title">Github</td>
                            <td class="break">:</td>
                            <td><a href="https://github.com/sa4dkhan">https://github.com/sa4dkhan</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.OWL CAROUSEL2 END-->
            </div>
          </div>
        </section>
        <!--/.ABOUT END-->

        <!--WORK-->
        <section class="grey-bg mar-tm-10" id="work">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h3 class="title-small">
                  <span>Skills</span>
                </h3>
                <p class="content-detail">
                    <ul>
                       <li>Web Development using:
                           <ul>
                               <li>Django (5 months, Completely in love with it and this is my passion,
                                   learning and working on a researched based project  )
                                   <ul>
                                       <li>
                                           familiar with: pip, virtualenv, static, media,
                                           template inheritance, urls, models, forms,
                                           views, templates, class based view,
                                           function based view, deployment
                                           in pythonanywhere, heroku and so on
                                       </li>
                                   </ul>
                               </li>
                               <li>Laravel(1 year+):
                                   <ul>
                                       <li>Built an Industrial Laundry Project with 3 members team,
                                           currently in production and live.
                                           <ul>
                                               <li>link: <a href="http://presstobd.azurewebsites.net">http://presstobd.azurewebsites.net</a></li>
                                               <li>link: <a href="http://pressto.com.bd">http://pressto.com.bd</a></li>
                                               <li>key features learned: barcode generate,
                                                   pos printer code generate
                                               </li>
                                           </ul>
                                       </li>
                                       <li>Contributed creating  api and web module for
                                           Corporate Medical Portal with 10 members team,
                                           currently in production and live.
                                           <ul>
                                               <li>link: <a href="http://myorko.com">http://myorko.com</a></li>
                                           </ul>
                                       </li>
                                   </ul>
                               </li>
                               <li>CodeIgniter (4 months):
                                   <ul>
                                       <li>Created myself a simple project for a doctor:
                                           <ul>
                                               <li>link: <a href="http://mhrdbd.com">http://mhrdbd.com</a></li>

                                           </ul>
                                       </li>
                                       <li>Bug fixing of existing codeigniter project:
                                        <ul>
                                            <li>link: <a href="http://admin.smilegallerybd.com">http://admin.smilegallerybd.com</a></li>
                                        </ul>
                                       </li>
                                   </ul>
                               </li>
                               <li>ExpressJS(2 weeks):
                                   <ul>
                                       <li>completed a blog project including sign in login, crud functionality, with mongodb</li>
                                   </ul>
                               </li>

                           </ul>
                       </li>
                       <li>Database Integration using:
                           <ul>
                               <li>Oracle 12c (Integrated with laravel and django)</li>
                               <li>SQL Server(Laravel)</li>
                               <li>MySQL (Most experienced) </li>
                               <li>MongoDB (with Express JS)</li>
                           </ul>
                       </li>
                       <li>Prepare software development life cycle process
                           following scrum, sketch, wireframing, er diagram,
                           data flow diagram, use case diagram,
                           business flow and coding
                       </li>
                       <li>HTML, CSS, Bootstrap, JQuery, Ajax </li>

                    </ul>
                </p>
              </div>
              <div class="col-md-6 content-right">
                <!--PORTFOLIO IMAGE-->
                <ul class="portfolio-image">
                  <li class="col-md-6">
                    <a href="{% static 'images/bw-1.png' %}"><img alt="image" src="{% static 'images/bw-1.png' %}">
                      <div class="decription-wrap">
                        <div class="image-bg">
                           <p class="desc">My Resume</p>
                        </div>

                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="{% static 'images/bw-2.png' %}"><img alt="image" src="{% static 'images/bw-2.png' %}">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Pangirutan
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="{% static 'images/bw-3.png' %}"><img alt="image" src="{% static 'images/bw-3.png' %}">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Black Mug
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="{% static 'images/bw-4.png' %}"><img alt="image" src="{% static 'images/bw-4.png' %}">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Notebook Mockup
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="{% static 'images/bw-5.png' %}"><img alt="image" src="{% static '' %}images/bw-5.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Presentation
                          </p>  
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="{% static '' %}images/bw-6.png"><img alt="image" src="{% static '' %}images/bw-6.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Letter Branding
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <!--/.PORTFOLIO IMAGE END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.WORK END-->

        <!--SERVICES-->
{#        <section class="white-bg" id="services">#}
{#          <div class="container">#}
{#            <div class="row">#}
{#              <div class="col-md-3">#}
{#                <h3 class="title-small">#}
{#                  <span>Services</span>#}
{#                </h3>#}
{#                <p class="content-detail">#}
{#                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.#}
{#                </p>#}
{#              </div>#}
{#              <div class="col-md-9 content-right">#}
{#                <div class="row">#}
{#                  <ul class="listing-item">#}
{#                    <li>#}
{#                      <div class="col-md-4 col-sm-4">#}
{#                        <h3 class="icon-use">#}
{#                          c#}
{#                        </h3>#}
{#                        <p class="head-sm">#}
{#                          MARKETING#}
{#                        </p>#}
{#                        <p class="text-grey">#}
{#                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. #}
{#                        </p>#}
{#                      </div>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                      <div class="col-md-4 col-sm-4">#}
{#                        <h3 class="icon-use">#}
{#                          b#}
{#                        </h3>#}
{#                        <p class="head-sm">#}
{#                          WEB DESIGN#}
{#                        </p>#}
{#                        <p class="text-grey">#}
{#                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. #}
{#                        </p>#}
{#                      </div>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                      <div class="col-md-4 col-sm-4">#}
{#                        <h3 class="icon-use">#}
{#                          d#}
{#                        </h3>#}
{#                        <p class="head-sm">#}
{#                          UI#}
{#                        </p>#}
{#                        <p class="text-grey">#}
{#                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. #}
{#                        </p>#}
{#                      </div>#}
{#                    </li>#}
{#                  </ul>#}
{##}
{#                  <ul class="listing-item">#}
{#                    <li>#}
{#                      <div class="col-md-4 col-sm-4">#}
{#                        <p class="icon-use">#}
{#                          f#}
{#                        </p>#}
{#                        <p class="head-sm">#}
{#                          DIRECTOR#}
{#                        </p>#}
{#                        <p class="text-grey">#}
{#                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. #}
{#                        </p>#}
{#                      </div>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                      <div class="col-md-4 col-sm-4">#}
{#                        <h3 class="icon-use">#}
{#                          p#}
{#                        </h3>#}
{#                        <p class="head-sm">#}
{#                          UX DESIGN#}
{#                        </p>#}
{#                        <p class="text-grey">#}
{#                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. #}
{#                        </p>#}
{#                      </div>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                      <div class="col-md-4 col-sm-4">#}
{#                        <h3 class="icon-use">#}
{#                          m#}
{#                        </h3>#}
{#                        <p class="head-sm">#}
{#                          FRONT END#}
{#                        </p>#}
{#                        <p class="text-grey">#}
{#                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. #}
{#                        </p>#}
{#                      </div>#}
{#                    </li>#}
{#                  </ul>#}
{##}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </section>#}
        <!--/.SERVICES END-->

        <!--EMPLOYEMENT-->
        <section class="grey-bg" id="employement">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Employement</span>
                </h3>
                <p class="content-detail">
                  I have been working at Nextdot Bangladesh for almost 2 years as a software engineer (back-end)
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2017 May - Present
                            </h2>
                            <p class="job">
                              Software Engineer (Back-end)
                            </p>
                            <p class="company">
                              Pressto Project
                            </p>
                            <p class="company">
                              Orko Project
                            </p>
                            <p class="company">
                              Inventory Project
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Accomplished pressto project and orko project
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2017 Feb - 2017 April
                            </h2>
                            <p class="job">
                              Intern (Back-end)
                            </p>
                            <p class="company">
                              Nextdot Bangladesh
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Hello World
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EMPLOYEMENT END-->

        <!--SKILLS-->
        <section class="white-bg" id="skill">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Skill Percentage</span>
                </h3>
                <p class="content-detail">
                  Hello World
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--SKILLST-->
                <div class="skillst">
                  <div class="skillbar" data-percent="30%">
                    <div class="title head-sm">
                      Django
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="60%">
                    <div class="title head-sm">
                      Laravel
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="40%">
                    <div class="title head-sm">
                      Python
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="50%">
                    <div class="title head-sm">
                      PHP
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                </div>
                <!--/.SKILLST END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.SKILLS END-->

        <!--EDUCATION-->
        <section class="grey-bg" id="education">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Education</span>
                </h3>
                <p class="content-detail">
                  Hello World
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2012 - 2016
                            </h2>
                            <p class="job">
                              B.Sc. in Computer Science and Engineering
                            </p>
                            <p class="company">
                              Daffodil International University
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Hello World
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2010 - 2012
                            </h2>
                            <p class="job">
                              HSC
                            </p>
                            <p class="company">
                              Ashuganj Sar Karkhana College
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Hello World
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EDUCATION END-->

        <!--TESTIMONIAL-->
        <section id="testimonial">
          <div class="container">
            <div class="row wrap-testimonial">
              <div class="col-md-10 col-md-offset-1">
                <div class="owl-carousel">
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “Stay hungry; stay foolish.”
                      </h3>
                      <p class="people">
                        Whole Earth Epilog, 1974
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “We are all faced with a series of great opportunities brilliantly disguised as impossible situations.”
                      </h3>
                      <p class="people">
                        Unknown
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “If you don't like something, change it. If you can't change it, change your attitude. Don't complain.”
                      </h3>
                      <p class="people">
                        Maya Angelou
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mask-testimonial"></div>
        </section>
        <!--/.TESTMONIAL END-->

        <!--BLOG-->
{#        <section class="grey-bg" id="blog">#}
{#          <div class="container">#}
{#            <div class="row">#}
{#              <div class="col-md-12">#}
{#                <h3 class="title-small-center text-center">#}
{#                  <span>Blog</span>#}
{#                </h3>#}
{#                <div class="row">#}
{#                  <div class="col-md-6 col-md-offset-3">#}
{#                    <p class="content-details text-center">#}
{#                      Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. #}
{#                    </p>#}
{#                  </div>#}
{#                </div>#}
{#                <!--GRID BLOG-->#}
{#                <div class="grid">#}
{#                  <div class="grid-item">#}
{#                    <div class="wrap-article">#}
{#                      <img alt="blog-1" class="img-circle text-center" src="{% static '' %}images/blog-1.png">#}
{#                      <p class="subtitle fancy">#}
{#                        <span>09/01/2015</span>#}
{#                      </p>#}
{#                      <a href="#">#}
{#                        <h3 class="title">#}
{#                          Popular Design in 2015 #}
{#                        </h3>#}
{#                      </a>#}
{#                      <p class="content-blog">#}
{#                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.#}
{#                      </p>#}
{#                    </div>#}
{#                  </div>#}
{##}
{#                  <div class="grid-item">#}
{#                    <div class="wrap-article">#}
{#                     <img alt="blog-4" class="img-circle text-center" src="{% static '' %}images/blog-4.jpg">#}
{#                     <p class="subtitle fancy">#}
{#                        <span>08/20/2015</span>#}
{#                      </p>#}
{#                      <a href="#">#}
{#                        <h3 class="title">#}
{#                          Just Start#}
{#                        </h3>#}
{#                      </a>#}
{#                      <p class="content-blog">#}
{#                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. #}
{#                      </p>#}
{#                    </div>#}
{#                  </div>#}
{##}
{#                  <div class="grid-item">#}
{#                    <div class="wrap-article">#}
{#                      <img alt="blog6" class="img-circle text-center" src="{% static '' %}images/blog-6.jpg">#}
{#                      <p class="subtitle fancy">#}
{#                        <span>08/11/2015</span>#}
{#                      </p>#}
{#                      <a href="#">#}
{#                        <h3 class="title">#}
{#                          The Huffington Post#}
{#                        </h3>#}
{#                      </a>#}
{#                      <p class="content-blog">#}
{#                       Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. #}
{#                      </p>#}
{#                    </div>#}
{#                  </div>#}
{#                  #}
{#                  <div class="grid-item">#}
{#                    <div class="wrap-article">#}
{#                      <img alt="blog2" class="img-circle text-center" src="{% static '' %}images/blog-2.jpg">#}
{#                      <p class="subtitle fancy">#}
{#                        <span>08/03/2015</span>#}
{#                      </p>#}
{#                      <a href="#">#}
{#                        <h3 class="title">#}
{#                          Manuk!#}
{#                        </h3>#}
{#                      </a>#}
{#                      <p class="content-blog">#}
{#                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. #}
{#                      </p>#}
{#                    </div>#}
{#                  </div>#}
{##}
{#                  <div class="grid-item">#}
{#                    <div class="wrap-article">#}
{#                      <img alt="blog5" class="img-circle text-center" src="{% static '' %}images/blog-5.jpg">#}
{#                      <p class="subtitle fancy">#}
{#                        <span>07/26/2015</span>#}
{#                      </p>#}
{#                      <a href="#">#}
{#                        <h3 class="title">#}
{#                          Do Web Designer Really Need To Know UI/UX Design and Backend Code too?#}
{#                        </h3>#}
{#                      </a>#}
{#                      <p class="content-blog">#}
{#                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. #}
{#                      </p>#}
{#                    </div>#}
{#                  </div>#}
{##}
{#                  <div class="grid-item">#}
{#                    <div class="wrap-article">#}
{#                      <img alt="blog-3" class="img-circle text-center" src="{% static '' %}images/blog-3.jpg">#}
{#                      <p class="subtitle fancy">#}
{#                        <span>08/03/2015</span>#}
{#                      </p>#}
{#                      <a href="#">#}
{#                        <h3 class="title">#}
{#                          Somewhere Place#}
{#                        </h3>#}
{#                      </a>#}
{#                      <p class="content-blog">#}
{#                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.#}
{#                      </p>#}
{#                    </div>#}
{#                  </div>                  #}
{##}
{#                </div>#}
{#                <!--/.GRID BLOG END-->#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </section>#}
        <!--/.BLOG END-->

        <!--CONTACT-->
        <section id="contact" class="white-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Contact</span>
                </h3>
                <p class="content-detail">
                  Hello World.
                </p>

              </div>
              <div class="col-md-9 content-right">
                <form>
                  <div class="group">
                    <input required="" type="text"><span class="highlight"></span><span class="bar"></span><label>Name</label>
                  </div>
                  <div class="group">
                    <input required="" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <div class="group">
                    <textarea required=""></textarea><span class="highlight"></span><span class="bar"></span><label>Message</label>
                  </div>
                  <input id="sendMessage" name="sendMessage" type="submit" value="Send Message">
                </form>
              </div>
            </div>
          </div>
        </section>
        <!--/.CONTACT END-->
        
        <!--FOOTER-->
        <footer>
          <div class="footer-top">
            <ul class="socials">
              <li class="facebook">
                <a href="https://facebook.com/sa4dkhan" data-hover="Facebook">Facebook</a>
              </li>
              <li class="github">
                <a href="https://github.com/sa4dkhan" data-hover="Github">Github</a>
              </li>
{#              <li class="gplus">#}
{#                <a href="#" data-hover="Google +">Google +</a>#}
{#              </li>#}
            </ul>
          </div>

          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <img src="{% static '' %}images/logo-bottom.png" alt="logo bottom" class="center-block" />
              </div>
            </div>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>
    

    <script src="{% static '' %}js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="{% static '' %}js/jquery.appear.js" type="text/javascript"></script>
    <script src="{% static '' %}js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{% static '' %}js/classie.js" type="text/javascript"></script>
    <script src="{% static '' %}js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="{% static '' %}js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="{% static '' %}js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="{% static '' %}js/masonry.js" type="text/javascript"></script>
    <script src="{% static '' %}js/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="{% static '' %}js/typed.js" type="text/javascript"></script>
    <script src="{% static '' %}js/main.js" type="text/javascript"></script>
  </body>
</html>